<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>M490-2122-08 CPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
</head>

<body>
    <header>
        <h1>CPR MANIKIN WEBSITE (M490-2122-08)</h1>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutTeam.html">About</a></li>
                <li><a href="aboutCPR.html">CPR Steps</a></li>
            </ul>
        </nav>
    </header>

    <div class="maincontent">
        <p>We are a Capstone team from Concordia University comprised of seven mechanical engineering students. Please enjoy our final project and learn about CPR!
        </p>
        <ul>
            <li>Rasha Al-homsy</li>
            <li>Marco Di Spirito</li>
            <li>Lindsey Gillespie</li>
            <li>Mustafa Neda</li>
            <li>Minh-Duy Nguyen</li>
            <li>Faiz Uddin</li>
            <li>Matthew Yee</li>
        </ul>

        <p>Contact us: ***</p>
    </div>
    <br>



    <div class="footer">
        <div class="">
            <h6>Copyright © 2021-2022 M490-2122-08 inc.</h6>
        </div>
    </div>

</body>