<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>M490-2122-08 CPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
</head>

<body>
    <header>
        <h1>CPR MANIKIN WEBSITE (M490-2122-08)</h1>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutTeam.html">About</a></li>
                <li><a href="aboutCPR.html">CPR Steps</a></li>
            </ul>
        </nav>
    </header>

    <div class="main content">
        <div class="main content">
            <div class="container-fluid" style="text-align:center" ;>
                <p Style="color: red">Pick a level to start learning or practicing CPR!</p>
                <div class="row">
                    <div class="">
                        <h3><a href="">Level 1 CPR</a></h3>
                        <p>Learn each step as slowly as you need.</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 2 CPR</a></h3>
                        <p>Learn the basics of CPR, step by step. We'll guide you and give you feedback to perfect your technique.</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 3 CPR</a></h3>
                        <p>Practice CPR with no stress of winning points. Perform CPR as you've learned it so far and we'll give you feedback to improve your skills!</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 4 CPR</a></h3>
                        <p>Complete one whole CPR process! Win points and we'll still give you feedback for improvement.</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 5 CPR</a></h3>
                        <p>Are you ready to put your skills to the test? See if you can beat your high score by performing CPR perfectly and without any steps given!</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>

    <div class="footer">
        <div class="">
            <h6>Copyright © 2021-2022 M490-2122-08 inc.</h6>
        </div>
    </div>

</body>