<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>M490-2122-08 CPR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
</head>

<body>
    <header>
        <h1>CPR MANIKIN WEBSITE (M490-2122-08)</h1>
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutTeam.html">About</a></li>
                <li><a href="aboutCPR.html">CPR Steps</a></li>
            </ul>
        </nav>
    </header>

    <div class="main content">
        <div class="main content">
            <div class="container-fluid" style="text-align:center" ;>
                <p Style="color: red">Pick a level to start learning or practicing CPR!</p>
                <div class="row">
                    <div class="">
                        <h3><a href="">Level 1 CPR</a></h3>
                        <p>Novice: Understanding the fundamentals of basic CPR (includes surrounding check, pluse check and compression frequency).</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 2 CPR</a></h3>
                        <p>Beginner: Understand how to do chest compression properly (includes surrounding check, pluse check, compression frequency and compression depth).</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 3 CPR</a></h3>
                        <p>Intermediate: Understand when to prefrom rescue breaths (includes surrounding check, pluse check, compression frequency, compression depth, head tilt check, and rescue breath).</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 4 CPR</a></h3>
                        <p>Advanced: Understand where to place AED pad (includes surrounding check, pluse check, compression frequency, compression depth, head tilt check, rescue breath and AED placement).</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 5 CPR</a></h3>
                        <p>Expert: Includes Advanced components without guidance.</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 5.5 CPR</a></h3>
                        <p>Duration Expert: Includes Advanced components without guidance and repeats CPR steps multiple times</p>
                    </div>
                    <div class="">
                        <h3><a href="">Level 6 CPR</a></h3>
                        <p>Timed: Included Advanced components without guidance and adds a time element to provided a stress element to simulate a more relistic environment.</p>
                    </div>
                    <div class="">
                        <h3><a href="">Individual Components</a></h3>
                        <p>Option to train on different components of CPR manikin.</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>

    <div class="footer">
        <div class="">
            <h6>Copyright © 2021-2022 M490-2122-08 inc.</h6>
        </div>
    </div>

</body>