{% extends 'Main/base.html' %}

{% block content_block %}

    <div class="maincontent">
        <div class="container-fluid">
        <p>We are a Capstone team from Concordia University comprised of seven mechanical engineering students. Please enjoy our final project and learn about CPR!
        </p>
        <ul>
            <li>Rasha Al-homsy</li>
            <li>Marco Di Spirito</li>
            <li>Lindsey Gillespie</li>
            <li>Mustafa Neda</li>
            <li>Minh-Duy Nguyen</li>
            <li>Faiz Uddin</li>
            <li>Matthew Yee</li>
        </ul>

        <p>Contact us: ***</p>
    </div>
    <br>

{% endblock %}