{% extends 'Main/base.html' %}

{% block content_block %}

    <div class="maincontent">
        <div class="container-fluid">
        <a href="https://www.redcross.org/take-a-class/cpr/performing-cpr/cpr-steps">Source: American Red Cross</a>

        <p class="">Step 1: Make sure scene is safe.</p>
        <p class="">Step 2: Check if person is responsive. If person is not responsive, call 911 or ask a bystander to call 911.</p>
        <p class="">Step 3: Send someone to get an AED (if alone, stay with victim).</p>
        <p class="">Step 4: Check for pulse and breathing. If no breathing, start CPR.</p>
        <p class="">Step 5: Place hands one on top of the other with fingers interlaced in the middle of chest. Start compressions that are at least 5 cm deep and at a rate of 100 compression/per minute.</p>
        <p class="">Step 6: Deliver two breaths for every thirty compressions. To do this, tilt head and chin back to open airways. Check for signs of a physical obstruction in mouth and make sure they are tilted to prevent choking. Then pinch nose and place mouth
            on other person’s mouth and blow until chest rises.</p>
        <p class="">Step 7: Continue this process of CPR until person is breathing or shows signs of life, or until an AED or EMS arrives.</p>
        <p class="">Step 8: If an AED arrives before EMS or person shows signs of life, place AED pads on victim and follow AED instructions.</p>
        </div>
    </div>
    <br>


{% endblock %}