body {
    font-family: "Georgia";
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

.container-fluid{
    position: relative;
    /*margin-bottom: -50px;*/
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow-y: auto;
    /*padding: 5px 50px -25px 50px;
    Top, right, bottom, left padding */
}

h1{
    padding-left: 25px;
}

.navbar {
    background-color: black;
    border-radius: 30px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: red
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 100%;
}

div {
  background-color: white;
  margin: 2px;
  font-size: 25px;
  border: black;
}
.instruction{

}


.footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: white;
    font-size: 10px;
    text-indent: 12px;
    background-color: black;
}
