body {
    font-family: "Georgia";
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container-fluid{
    /*display: flex;
    flex-direction: column;*/
    min-height: 100vh;
    position: relative;
    /*overflow:auto;*/
    padding: 5px 50px 15px 50px;
    /* Top, right, bottom, left padding */
}

h1{
    padding-left: 25px;
}

.navbar {
    background-color: black;
    border-radius: 30px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: red
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.footer {
    /*display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 2vh;
    /* position: absolute;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    /* Height of the footer */
    margin-top: auto;
    color: white;
    background-color: black;
}
